extends layout
block banner
  .ed-container
    .ed-item
      img.banner__img(src="/img/abogado.jpg")
    
block main
  h2.main__title Nuestro Objetivo: 
    span Que usted esté tranquilo
  h3.main__subtitle Sabemos que sus problemas son lo más importante para usted y por ello queremos ayudarle a solucionarlo de el mejor modo posible.
  p.main__description Abogados es un despacho de abogados multidisciplinarios formado por profesionales muy calificados y con amplia experiencia, que creemos en una nueva forma de entender la abogacía; porque hablamos tu lenguaje; buscamos siempre la solución más rentable para ti y la más cómoda. facilitandote la contratación de los otros profesionales necesarios para conseguir tus objetivos.

block servicios
  .ed-item.full
    h3.servicios__title Características de nuestro servicio
  .ed-item.tablet-1-3.servicios__item
    h3.servicios__item--title Eficacia
    p.servicios__item--description Damos la mejor solución a los problemas y retos que procupan a nuestros cliente. No damos una batalla por perdida nunca.
  .ed-item.tablet-1-3.servicios__item
    h3.servicios__item--title Rapidez
    p.servicios__item--description Nos comprometemos a prestar el servicio en los plazos más breves posibles, sin descuidar nunca la calidad.
  .ed-item.tablet-1-3.servicios__item
    h3.servicios__item--title Calidad
    p.servicios__item--description Buscamos la experiencia en el desempeño de nuestro trabajo, somos muy exigentes con nosotros y estamos siempre en continuo proceso de mejora.
  .ed-item.tablet-1-3.servicios__item
    h3.servicios__item--title Flexibilidad
    p.servicios__item--description Nuestra prioridad es servir las necesidades concretas de nuestros clientes. Nos adaptamos a los cambios que pueden sobrevenir en las circunstancias de los asuntos.
  .ed-item.tablet-1-3.servicios__item
    h3.servicios__item--title Transparencia
    p.servicios__item--description Hablamos el mismo lenguaje que nuestros clientes y queremos que nos entiendan trabajamos para ellos. Quien nos contrata sabe de antenamo lo que le va a costar el servicio
  .ed-item.tablet-1-3.servicios__item
    h3.servicios__item--title Cercanía
    p.servicios__item--description Además del mejor servicio juridico, de nosotros recibirá el mejor personal, con la experiencia y energía necesaria para atender sus problemas.
    
    
    
    
    
    
    
    
    
    
