.ed-item.web-80
  h2.financiamiento__title Te ayudamos financiandote hasta en 30 meses
  p.financiamiento__description Puedes solicitar presupuesto sin compromiso con la tranquilidad de pagar a plazos
.ed-item.web-20.cross-center
  a.financiamiento__button(href="#") Solicita presupuesto
