.ed-item.tablet-50.linea
  .footer
    .abogado
      h2.footer__title Abogados
      p.footer__description Abogados es un despacho de abogados multidiciplinarios por profesionales muy calificados y con amplia experiencia, que creemos en uan nueva forma de entender la abogacía, poruqe hablamos el mismo lenguaje, buscando siempre la solución más rentable para ti y la más cómoda, facilitandote la contratación de otros profesionales necesarios para conseguir tus obbjetivos.
    .sociales.main-end
      a.sociales__item.icon-facebook(href="#")
      a.sociales__item.icon-twitter(href="#")
      a.sociales__item.icon-linkedin(href="#")
    .contacto
      p.contacto__item.icon-phone 0000 - 0000
      p.contacto__item.icon-mail contacto@gmail.com
      
      
.ed-item.tablet-50
  .ed-container
    .ed-item.form
      h2.form__title Formulario Rápido
      .ed-item
        label.form__input Nombre
      .ed-item
        input(type="text")
      .ed-item
        label.form__input Email
      .ed-item
        input(type="text")
      .ed-item
        label.form__input Mensaje
      .ed-item
        input(type="textarea")
      .ed-item.form__mensaje
        a(href="#") Enviar
      
    
