-var paginas = ["Inicio", "Empresa", "Areas de experiencia","Honorarios","Noticias","Contacto"]
.icon-menu.toggle-menu.hasta-web
ul.web-horizontal.ed-menu
  each pagina in paginas
    li.menu__item: a.menu__link(href="#") #{pagina}
          
