.ed-item.tablet-70
  .noticias
    h3.noticias__title Ultimas noticias
  .noticias
    img.noticias__item--img(src="img/noticias.jpg")
    h3.noticias__item--title Las fundadas "ideas" de Amy Martin
    p.noticias__item--description  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    a.noticias__link(href="#") + info
  .noticias
    img.noticias__item--img(src="img/noticias.jpg")
    h3.noticias__item--title ¿Comó debería ser una auditoría rigurosa de una entidad con sospechas de contabilidad?
    p.noticias__item--description  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    a.noticias__link(href="#") + info
  .noticias
    img.noticias__item--img(src="img/noticias.jpg")
    h3.noticias__item--title El regulador britanico FSA pone en evidencia al Banco de España
    p.noticias__item--description  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    a.noticias__link(href="#") + info
    
.ed-item.tablet-30
  .productos
    h3.productos__title Productos Destacados
  .productos
    h3.productos__item--title Afectados preferentes
      a.productos__link("#") Ir
  .productos
    h3.productos__item--title Afectados Bankia
      a.productos__link("#") Ir
  .productos
    h3.productos__item--title Nuevas Rumasa
      a.productos__link("#") Ir
  .productos
    h3.productos__item--title Reestructuración de empresas
      a.productos__link("#") Ir
    
    
    
    
    
    
    
    
    
    
    
    
    
    
